/* RESET GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #f5f5f5;
  color: #222;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* ---------- HEADER ---------- */
/* PISTAS:
   - Aquí va la barra de navegación.
   - Debe mostrar logo, menú y hamburguesa.
   - Usa un sistema moderno para alinear elementos en fila.
*/
header {
  padding: 1rem;
  background-color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* PISTA: Haz que el logo destaque por tamaño y grosor */
header div {
  /* Tu diseño */
}

/* Botón hamburguesa (MÓVIL) */
.btn-menu {
  /* Debe parecer clicable y estar bien visible */
  display: none;
}

/* ---------- MENÚ ---------- */
/* PISTA:
   - En móvil debe permanecer oculto.
   - Cuando JS active la clase .activo, debe aparecer.
*/
nav {
  /* Tu diseño */
  display: flex;
  gap: 30px;
}

nav.activo {
  /* Mostrar menú en móvil */
  display: none;
}

nav a {
  text-decoration: none;
  color: black;
}

/* ---------- HERO ---------- */
/* PISTAS:
   - Debe ser la sección principal.
   - Todo centrado.
   - Puede tener color de fondo distinto. */

main {
  display: grid;
  text-align: center;
}

.btn-cta {
  display: none;
  padding: 15px;
  background-color: white;
}

section#inicio {
  /* Tu diseño */
  height: 8vh;
  width: auto;
  background-color: rgb(97, 153, 216);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section#caracteristicas {
  /* height: 100vh; */
  height: 41vh;
  background-color: rgb(194, 221, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 300px;
  margin-left: 300px;
}

section#caracteristicas li {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-decoration: none;
}

section#sobre {
  height: 35vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 300px;
  margin-left: 300px;
}

footer {
  height: auto;
  padding: 30px;
  background-color: gray;
  text-align: center;
}

/* ---------- RESPONSIVE ---------- */
/* PISTAS:
   - A partir de cierto ancho, el menú debe verse siempre.
   - La hamburguesa debe desaparecer.
   - Mejorar tamaños y márgenes. */
@media (max-width: 900px) {
  /* Tus ajustes responsive */
  .btn-menu {
    display: block;
  }

  .btn-cta {
    display: none;
  }

  section#inicio {
    height: 1vh;
  }

  section#caracteristicas {
    margin-right: 0px;
    margin-left: 0px;
  }
  section#sobre {
    margin-right: 0px;
    margin-left: 0px;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 768px) {
    /* Tus ajustes responsive */
    .btn-cta {
      display: block;
    }

    section#inicio {
      height: 15vh;
    }
  }
}
